<div class="row">
    <div class="col-xs-9">
        <h4>{{comment.name}}</h4>
        <a href="#">Reply</a>
    </div>
    <div class="col-xs-3">
        <a href="#" class="liker btn btn-primary btn-lg">Like it<span class="badge">{{comment.likes}}</span></a>
    </div>
</div>
<ul class="list-group-item" ng-if="comment.children.length > 0">
    <li class="list-group-item" ng-repeat="comment in comment.children"
        ng-include="'/FreakyNews-AngularJS/comments/comments.html'"></li> <!--@todo change FreakyNews... folder for generic one!-->
</ul>
