<article class="ask">
    <article class="well row">
        <div class="col-xs-9">
            <h3>{{AskC.ask.text}}</h3>
            <div><em>Made by {{AskC.ask.User_id}} at {{AskC.ask.updated_at}}</em></div>
        </div>
        <div class="col-xs-3">
            <a ng-click=AskC.like('asks',AskC.ask.id) href="#" class="liker btn btn-primary btn-lg">Like it<span class="badge">{{AskC.ask.likes}}</span></a>
        </div>
    </article>
    <div>
        <a  ui-sref="newComment(
            {
                parent_id:'',
                Ask_id:(typeof(AskC) !== 'undefined'? AskC.ask.id : ''),
                Story_id:(typeof(StoryC) !== 'undefined'? StoryC.story.id : '')
            }
        )">Add a comment</a>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in AskC.ask.comments">
            <div id="hi" ng-include="AskC.commentsHtml"></div>
        </li>
    </ul>
</article>